* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
  }
  
.container {
    text-align: center;
    padding: 20px;
  }
  
.page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
body > img {
    margin: 0 10px;

  }
  
img {
    max-height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
  }
  

.mugiwaras {
  padding: 20px;

  
}

.mugiwaras > div {
  padding: 10px;
  color: white;
}

@media (max-width: 425px) {
  .mugiwaras > div img {
    width: 100%;
    
  }
}